.main {
	background-color: #81DAF5;
	color: red;
	font-family: Verdana;
	font-size: 20px;
	border-top-right-radius: 50px 60px;
	border-bottom-left-radius: 50px 60px;
	width: 400px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img.align-center {
	display: block;
	margin: 0px auto;
	padding-top: 20px;
}

img.medium {
	width: 75px;
	height: 75px;
}

form {
	width: 375px;
	margin-top: 400px;
	margin-bottom: 10px;
	margin-left: 17px;
	position: absolute;
}
input {
	display: block;
	width: 315px;
	border-radius: 80px;
	padding: 5px 5px 5px 5px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -50px;
	font-size: 70%;
	color: red;
}

footer {
	font-size: 10px;
	color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	text-align: right;
	padding-right: 30px;
}

#thelist {
	list-style: decimal;
}

li {
	font-size: 25px;
	color: green;
}